.competition {
  background-color: rgb(255, 255, 255);
  margin-bottom: 37px;
}

.competition__container {
  margin-top: 45px;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.competition__description {
  color: rgb(40, 54, 69);
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.competition-form__text {
  color: rgb(40, 54, 69);
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 34px;
  margin-left: 65px;
}

.competition-form__text-inner {
  color: rgb(210, 40, 86);
}

.competition-form__text--hidden {
  display: none;
}

@media (max-width: 659px) {
  .mob-hidden {
    display: none;
  }
}

@media (min-width: 660px) {
  .competition {
    margin-bottom: 25px;
  }

  .competition__container {
    width: 620px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }

  .competition__description {
    font-size: 18px;
    width: 505px;
  }

  .competition-form__text {
    width: 185px;
    margin-top: 0;
    position: relative;
    top: -45px;
    left: 402px;
  }
}

@media (min-width: 960px) {
  .competition {
    margin-bottom: 0;
  }

  .competition__container {
    width: 920px;
  }

  .competition__description {
    width: 740px;
  }

  .competition-form__text--hidden {
    display: inline;
  }

  .competition-form__text {
    width: 320px;
    top: -45px;
    left: 575px;
  }
}
