.competition {
  background-color: rgb(255, 255, 255);
}

.competition__container {
  margin-top: 45px;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
}

.competition__description {
  color: rgb(40, 54, 69);
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.competition-form__text {
  color: rgb(40, 54, 69);
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 34px;
  margin-left: 65px;
}

.competition-form__text-inner {
  color: rgb(210, 40, 86);
}

@media (max-width: 660px) {
  .mob-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: 660px) {
  .competition__container {
    width: 620px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }

  .competition__description {
    font-size: 18px;
    width: 505px;
  }
}

@media (min-width: 1200px) {
  .competition__container {
    width: 1200px;
  }

  .competition__description {
    width: 740px;
  }
}


