.competition {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competition__container {
  margin-top: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

.competition__description {
  color: rgb(40, 54, 69);
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.competition__text {
  color: rgb(40, 54, 69);
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 34px;
}

.competition__text-inner {
  color: rgb(210, 40, 86);
}

.competition__text--hidden {
  display: none;
}

@media (min-width: 660px) {
  .competition {
    margin-bottom: 5px;
  }

  .competition__container {
    width: 620px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
  }

  .competition__description {
    font-size: 18px;
    width: 505px;
  }

  .competition__text {
    width: 185px;
    margin-top: 0;
    position: relative;
    top: -45px;
    left: 222px;
  }
}

@media (min-width: 960px) {
  .competition {
    margin-bottom: -5px;
  }

  .competition__container {
    width: 920px;
  }

  .competition__description {
    width: 760px;
  }

  .competition__text--hidden {
    display: inline;
  }

  .competition__text {
    width: 315px;
    top: -46px;
    left: 314px;
  }
}
