.footer {
  background-color: rgb(255, 255, 255);
  width: 320px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.social-icons__list {
  list-style: none;
  padding: 0;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.social-icons__item {
  width: 45px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 3px;
  border-color: rgba(233, 235, 236);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 22px;
  margin-bottom: 40px;
}

.footer__develop {
  color: rgb(40, 54, 69);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 15px;
}

@media (min-width: 660px) {
  .footer {
    width: 620px;
    padding: 27px 20px 35px 20px;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .social-icons__list,
  .footer__item {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .footer {
    width: 940px;
    padding: 25px 130px 70px 130px;
  }
}
