.main-header {
  position: relative;
  width: 320px;
}

.main-header__background {
  position: relative;
  background-color: rgb(31, 41, 52);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 462px;
}

.main-header__background--short {
  min-height: 237px;
}

.main-header__img--mobile {
  position: absolute;
  top: 172px;
}

.main-header__img--tablet {
  position: absolute;
  width: 0;
  height: 0;
}

.main-header__img--desktop {
  position: absolute;
  width: 0;
  height: 0;
}

.main-menu {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 66px;
}

.main-nav {
  background-color: rgb(40, 54, 69);
}

.main-nav__container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 69px;
  border-style: solid;
  border-width: 1px;
  border-right: none;
  border-left: none;
  border-top-color: rgb(40, 54, 69);
  border-bottom-color: rgb(0, 0, 0);
}

.main-nav__logo--tablet {
  position: absolute;
  width: 0;
  height: 0;
}

.main-nav__logo--desktop {
  position: absolute;
  width: 0;
  height: 0;
}

.main-menu__logo--tablet {
  position: absolute;
  width: 0;
  height: 0;
}

.main-menu__toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
  height: 24px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.main-menu__toggle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 24px;
  top: 0;
  left: 0;
  background-image: url("../img/icon-menu-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav__toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 24px;
  height: 23px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 23px;
  top: 0;
  left: 0;
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 63px;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-width: 1px;
  border-top-color: rgb(72, 84, 97);
  border-bottom-color: rgb(0, 0, 0);
}

.site-list__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.main__title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  width: 240px;
  text-align: center;
  margin-left: 40px;
  margin-top: 30px;
}

@media (min-width: 660px) {
  .main-header {
    width: 660px;
  }

  .main-header__background {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    min-height: 728px;
    background-position: -270px 0;
  }

  .main-header__img--mobile {
    width: 0;
    height: 0;
  }

  .main-header__img--tablet {
    width: 690px;
    height: 549px;
    top: 179px;
    left: -15px;
  }

  .main-header__background--short {
    min-height: 440px;
  }

  .main-menu {
    min-height: 110px;
  }

  .main-nav__container {
    min-height: 110px;
  }

  .main-nav__logo--mobile {
    position: absolute;
    width: 0;
    height: 0;
  }

  .main-nav__logo--tablet {
    position: relative;
    width: 147px;
    height: 40px;
    top: -10px;
  }

  .main-menu__logo--mobile {
    position: absolute;
    width: 0;
    height: 0;
  }

  .main-menu__logo--tablet {
    position: relative;
    width: 147px;
    height: 40px;
    top: -10px;
  }

  .main__title {
    font-size: 50px;
    line-height: 60px;
    width: 500px;
    margin-left: 77px;
    margin-top: 73px;
  }
}

@media (min-width: 1200px) {
  .main-header {
    width: 1200px;
  }

  .main-header__img--tablet {
    width: 0;
    height: 0;
  }

  .main-header__img--desktop {
    width: 1050px;
    height: 650px;
    top: 203px;
    left: 150px;
  }

  .main-header__background {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    min-height: 853px;
    background-position: -680px 0;
  }

  .main-header__background--short {
    min-height: 395px;
  }

  .main-nav {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 110px;
    padding-right: 130px;
    padding-left: 130px;
  }

  .main-nav__wrapper {
    margin-left: 150px;
  }

  .main-nav__list {
    width: 622px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__container {
    border: none;
    padding: 0;
  }

  .site-list__item {
    border: none;
  }

  .main-nav__toggle::before {
    width: 0;
    height: 0;
    background-image: none;
  }

  .site-list__link {
    line-height: 18px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .main-nav__logo--tablet {
    position: absolute;
    width: 0;
    height: 0;
  }

  .main-nav__logo--desktop {
    position: relative;
    width: 147px;
    height: 40px;
    top: -10px;
  }

  .main__title {
    width: 770px;
    margin-left: 210px;
    margin-top: 65px;
  }

  .main__title-photo {
    width: 420px;
    margin-left: 387px;
  }
}
