.main-header {
  position: relative;
}

.main-header__background {
  position: relative;
  background-color: rgb(31, 41, 52);
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 462px;
  margin-top: 260px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-header__background {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.main-header__background--short {
  min-height: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__img {
  position: absolute;
  right: 61px;
  top: 176px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 258px;
  height: 286px;
}

.main__title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  width: 240px;
  text-align: center;
  margin-top: 0;
  padding-top: 95px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-header__img {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-position: center;
    background-size: 258px 286px;
  }
}

@media (min-width: 660px) {
  .main-header__background {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    min-height: 728px;
    background-size: cover;
    background-position: center;
    margin-top: 260px;
  }

  @media (min-width: 660px) and (min-resolution: 144dpi),
    (min-width: 660px) and (min-resolution: 1.5dppx) {
    .main-header__background {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .main-header__img {
    right: 0;
    top: 183px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px 545px;
    width: 660px;
    height: 545px;
  }

  @media (min-width: 660px) and (min-resolution: 144dpi),
    (min-width: 660px) and (min-resolution: 1.5dppx) {
    .main-header__img {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-position: center;
      background-size: 660px 545px;
    }
  }

  .main-header__background--short {
    min-height: 435px;
  }

  .main__title {
    font-size: 50px;
    line-height: 60px;
    width: 500px;
    padding-top: 175px;
    margin: 0;
  }
}

@media (min-width: 960px) {
  .main-header__img {
    right: 50px;
    top: 206px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px 645px;
    width: 720px;
    height: 648px;
  }

  @media (min-width: 960px) and (min-resolution: 144dpi),
    (min-width: 960px) and (min-resolution: 1.5dppx) {
    .main-header__img {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .main-header__background {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    min-height: 853px;
    margin-top: 0;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: 960px) and (min-resolution: 144dpi),
    (min-width: 960px) and (min-resolution: 1.5dppx) {
    .main-header__background {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .main-header__background--short {
    min-height: 395px;
  }

  .main__title {
    width: 770px;
    padding-top: 175px;
  }

  .main__title-photo {
    width: 420px;
  }
}
