.modal {
  background-color: rgb(255, 255, 255);
  width: 280px;
  padding: 40px 20px 50px 20px;
}

.modal__header {
  color: rgb(40, 54, 69);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.modal__text {
  color: rgb(40, 54, 69);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.modal__button {
  width: 280px;
  height: 63px;
  background-color: rgb(42, 171, 109);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
