.photo__post {
  width: 320px;
  padding: 20px 0 0 0;
}

.photo__post-wrapper {
  background-color: rgb(242, 242, 242);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo__post-img {
  margin-left: 20px;
  margin-right: 20px;
}

.photo__controls-list {
  list-style: none;
  padding: 0;
  padding-left: 55px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 22px;
}

.photo__controls-range {
  position: relative;
  padding-top: 14px;
  padding-bottom: 33px;
  border-bottom: 1px solid rgb(221, 223, 224);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.photo__controls-circle {
  width: 14px;
  height: 14px;
  padding: 0;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(210, 40, 86);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 230px;
  cursor: pointer;
}

.photo__controls-line {
  background-color: rgb(40, 54, 69);
  width: 240px;
  height: 2px;
}

.photo__controls-range--crop,
.photo__controls-range--fill,
.photo__controls-range--contrast {
  display: none;
}

.photo__post-buttons {
  margin: 38px 20px 28px 20px;
}

.photo__post-button {
  width: 274px;
  height: 55px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(210, 40, 86);
  border-width: 3px;
  border-radius: 35px;
  color: rgb(210, 40, 86);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  cursor: pointer;
}

.photo__post-button:disabled {
  border-color: rgb(221, 223, 224);
  color: rgb(221, 223, 224);
  cursor: default;
}

@media (min-width: 660px) {
  .photo__post {
    width: 620px;
    padding: 42px 20px 30px 20px;
    position: relative;
  }

  .photo__post-img {
    margin: 0;
    position: absolute;
    width: 300px;
    height: 400px;
    top: 57px;
    left: 20px;
  }

  .photo__crop {
    width: 24px;
    height: 24px;
    margin-left: 3px;
  }

  .photo__fill {
    width: 24px;
    height: 24px;
    fill: #d22856;
    margin-left: 3px;
    margin-top: 3px;
  }

  .photo__contrast {
    width: 16px;
    height: 16px;
    fill: #d22856;
    margin-left: 8px;
  }

  .photo__controls-range {
    display: none;
  }

  .photo__controls-range--crop,
  .photo__controls-range--fill,
  .photo__controls-range--contrast {
    display: block;
    border: none;
    margin-right: 20px;
    padding-bottom: 15px;
  }

  .photo__controls-line {
    width: 202px;
  }

  .photo__controls-circle--crop {
    left: 145px;
  }

  .photo__controls-circle--fill {
    left: 25px;
  }

  .photo__controls-circle--contrast {
    left: 95px;
  }

  .photo__controls-list {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 275px;
    padding-left: 25px;
    margin-right: 20px;
    margin-left: 320px;
  }

  .photo__controls-item {
    height: 71px;
    width: 275px;
    border-bottom: 1px solid rgb(221, 223, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .photo__post-buttons {
    margin: 0;
    margin-top: 65px;
    margin-left: 320px;
    width: 274px;
    padding-left: 26px;
    display: flex;
    flex-direction: column;
  }

  .photo__post-button {
    width: 260px;
    margin-bottom: 25px;
  }
}

@media (min-width: 960px) {
  .photo__post {
    width: 880px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 39px 60px 57px 0;
    position: relative;
  }

  .photo__post-img {
    left: 80px;
  }

  .photo__crop {
    width: 48px;
    height: 48px;
    margin-left: 0;
  }

  .photo__fill {
    width: 48px;
    height: 48px;
    margin-left: 0;
  }

  .photo__contrast {
    width: 32px;
    height: 32px;
    margin-left: 6px;
  }

  .photo__controls-list {
    margin: 0;
    padding: 0;
    width: 410px;
    margin-left: 470px;
  }

  .photo__controls-item {
    height: 72px;
    width: 410px;
  }

  .photo__controls-range--crop,
  .photo__controls-range--fill,
  .photo__controls-range--contrast {
    margin-right: 30px;
  }

  .photo__controls-line {
    width: 290px;
  }

  .photo__controls-circle--crop {
    left: 72px;
  }

  .photo__controls-circle--fill {
    left: 248px;
  }

  .photo__controls-circle--contrast {
    left: 162px;
  }

  .photo__post-buttons {
    margin-top: 145px;
    margin-left: 470px;
    width: 410px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .photo__post-button {
    width: 183px;
    margin: 0;
  }
}
