.pins__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 60px;
  padding: 0;
}

.pins__item {
  list-style: none;
  padding: 0;
  height: 6px;
}

.pins__button {
  padding: 0;
  width: 6px;
  height: 6px;
  border: none;
  border-radius: 50%;
  background-color: rgb(190, 194, 199);
}

.pins__button--checked {
  padding: 0;
  width: 12px;
  height: 12px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(40, 54, 69);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 1px;
}
